// Font-Family Variables
$hand-rounded-font: 'Gochi Hand', cursive;
$hand-mayus-font: 'Rock Salt', cursive;
$hand-thin-font: 'Shadows Into Light', cursive;

// Font Color

$nav-link-font-color: burlywood;
$p-text-color: antiquewhite;
